BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: CaseSensitive
NamespaceIndentation: None
BreakBeforeBraces: Attach
